fastapi==0.115.4                  
uvicorn==0.32.0                  
                  

pydantic>=1.10.2                
pydantic-settings               

python-jose>=3.3.0               
passlib[bcrypt]>=1.7.4          

sqlalchemy[asyncio]==2.0.36     

alembic==1.14.0                  
SQLAlchemy-Continuum>=1.3.11
sqlalchemy-utils>=0.41.1


fastapi-mail                     

python-multipart                 

pydantic[email]                 

sqlalchemy-migrate              
psycopg2-binary==2.9.9

google-cloud-logging             

